mixin about()
    .about&attributes(attributes)
        .about__in
            .about__img.about__img--bottom
                img(src="assets/img/about-bottom.jpg" alt="")
            .about__img.about__img--top
                img(src="assets/img/about-top.jpg" alt="")
            .about__content
                h2.about__title О нас
                p.about__text За 18 лет существования ломбарда к&nbsp;нам обратилось <strong>15000&nbsp;человек.</strong>
                p.about__text В штате работают <strong>10&nbsp;мастеров.</strong>
                p.about__text Мы с легкостью отличим оригинал от&nbsp;подделки и&nbsp;назовем <strong>рыночную стоимость</strong> швейцарских часов
