.input
    display inline-block
    width 100%
    height 79px
    border 2px solid black
    outline none
    color black
    font(Light)
    font-size 18px
    line-height 79px
    padding 0 35px
    &::-webkit-input-placeholder
        color #000
        opacity 1
    &::-moz-placeholder
        color #000
        opacity 1
    &:-moz-placeholder
        color #000
        opacity 1
    &:-ms-input-placeholder
        color #000
        opacity 1
    &:input-placeholder
        color #000
        opacity 1
    +below(767px)
        height 60px
        padding 0 20px



