mixin popup-thankyou()
    .popup-thankyou.popup#popup-thankyou&attributes(attributes)
        h3.popup-thankyou__title Спасибо!
        p.popup-thankyou__text Спасибо, что оставили заявку. Мы свяжемся с Вами в самое ближайшее время.
        button.button-brown.button-brown--form.popup-thankyou__button.js-close-button
            span Закрыть

