.nav
    display none
    width 250px
    padding 20px
    background-color rgba(255,255,255,.95)
    border-radius 10px
    position absolute
    z-index 500

    &::before
        content ""
        display block
        width 14px
        height 7px
        border-style solid
        border-width 0 7px 7px 7px
        border-color transparent transparent rgba(255,255,255,.95) transparent
        position absolute
        top -7px
        left 12px


    &__menu
        list-style none
        font-size 0
        padding 0
        margin 0
        // +above(768px)
        //     display flex
        //     flex-flow row nowrap
        //     justify-content flex-start

    &__item
        display block
        color #585858
        font(Light)
        font-size 18px
        line-height 1
        padding 0
        margin 0 0 30px 0
        &:last-child
            margin-bottom 0


    &__link
        color #585858
        text-decoration none
        position relative
        transition all .3s ease .3s
        padding-bottom 1px

        &::after
            content ""
            display block
            width 0px
            height 1px
            background-color #585858
            position absolute
            left 50%
            right 50%
            bottom 0
            transition all .3s ease
        &:hover
        &.active
            color @color
            text-decoration none
            &::after
                width 100%
                left 0
                right 0

