mixin nav()
    nav.nav&attributes(attributes)
        ul.nav__menu
            li.nav__item
                a(href="#about").nav__link.js-scrollto О нас
            li.nav__item
                a(href="#choice").nav__link.js-scrollto Залог или Продажа
            li.nav__item
                a(href="#evaluate").nav__link.js-scrollto Оценка онлайн
            li.nav__item
                a(href="#contacts").nav__link.js-scrollto Контакты
