mixin footer()
    footer.footer&attributes(attributes)
        .footer__in
            p.footer__legal ИП Фамилия И.О. <br>ИНН&nbsp;123438938495, ОГРН&nbsp;348327850384783
            p.footer__privacy
                a(href="#popup-privacy").js-popup-privacy Политика конфиденциальности
