mixin cost()
    .cost&attributes(attributes)
        .cost__in
            h2.cost__title Узнайте стоимость часов онлайн!
            p.cost__text Ответим за 2 минуты
            .cost__button-block
                a(href="#form-cost").button.cost__button.js-popup
                    span Узнать стоимость
