include ../blocks/header/header
include ../blocks/advantages/advantages
include ../blocks/about/about
include ../blocks/legal/legal
include ../blocks/cost/cost
include ../blocks/choice/choice
include ../blocks/evaluate/evaluate
include ../blocks/contacts/contacts
include ../blocks/footer/footer
include ../blocks/form/form
include ../blocks/popup-privacy/popup-privacy
include ../blocks/popup-thankyou/popup-thankyou


doctype html

// Верстка сайта: http://web-master-pro.ru 

html(lang="ru-RU")

    head
        meta(charset="utf-8")
        title Мануфактура - Ломбард элитных часов
        meta(name="description" content="")
        meta(name="keywords" content="")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")

        link(rel="apple-touch-icon", sizes="180x180", href="assets/img/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", href="assets/img/favicons/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="assets/img/favicons/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="assets/img/favicons/manifest.json")
        link(rel="shortcut icon", href="assets/img/favicons/favicon.ico")
        meta(name="msapplication-config", content="assets/img/favicons/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")

        script.
            !function(){function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))a(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(a(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var c=document.createElement("link");c.href=o,c.rel="stylesheet",c.type="text/css",document.getElementsByTagName("head")[0].appendChild(c),document.cookie="font_css_cache"}}function a(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o="assets/css/fonts.min.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}();

        style
            include ../tmp/first-screen.min.css

        noscript
            link(rel="stylesheet" href="assets/css/style.min.css?rev=@@hash")

    body
        +header(id="header")
        +advantages(id="advantages")
        +about(id="about")
        +legal(id="legal")
        +cost(id="cost")
        +choice(id="choice")
        +evaluate(id="evaluate")
        +contacts(id="contacts")
        +footer(id="footer")

        .hidden
            +form-cost()
            +form-ask()
            +form-callback()
            +popup-thankyou()
            +popup-privacy()
            
        script.
            var ms=document.createElement("link");ms.rel="stylesheet";ms.href="assets/css/style.min.css?rev=@@hash";document.getElementsByTagName("head")[0].appendChild(ms);

        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script window.jQuery || document.write('<script src="assets/js/jquery-2.2.4.min.js"><\/script>')
        script(src="assets/js/plugins.min.js?rev=@@hash")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdrFE6em65DKS2BcrWy7pCFibov4y6jsU&sensor=false")
        script(src="assets/js/app.min.js?rev=@@hash")

