mixin advantages()
    .advantages&attributes(attributes)
        .advantages__box
            ul.advantages__list
                li.advantages__item
                    span Проведем оценку бесплатно
                li.advantages__item
                    span Быстрая оценка часов
                li.advantages__item
                    span Выплаты без комиссии
                li.advantages__item
                    span 18 лет в ломбардном бизнесе
                li.advantages__item
                    span Полная конфиденциальность сделки
                li.advantages__item
                    span Наличие парковки
