mixin legal()
    .legal&attributes(attributes)
        .legal__in
            .legal__block.legal__block--left
                p.legal__text Наша деятельность одобрена Федеральной службой по финансовому мониторингу и Российской государственной пробирной палатой.
                a(href="assets/img/sertificate-1.jpg" role="button").button.js-gallery
                    span Посмотреть сертификат
            .legal__block.legal__block--right
                p.legal__text Нашим партнером является страховая компания «Название». Все переданное ломбарду имущество застраховано от любых рисков на полную стоимость.
                a(href="assets/img/sertificate-2.jpg" role="button").button.js-gallery
                    span Посмотреть сертификат
