mixin stealth()
    .stealth&attributes(attributes)
        a(href="http://st-mk.ru" target="_blank").stealth__link
            img(src="assets/img/stealth-logo.png" alt="Stealth Marketing").stealth__logo
            p.stealth__text <span class="stealth__stealth">Stealth</span> <span class="stealth__marketing">Marketing</span>
