mixin popup-privacy()
    .popup-privacy.popup#popup-privacy&attributes(attributes)
        .popup-privacy__content
            h2 Информация о политике конфиден&shy;циаль&shy;ности на сайте MANUFACTURA

            p Мы признаем важность конфиденциальности информации. В этом документе описывается, какую личную информацию мы получаем и собираем, когда вы пользуетесь сайтом <a href="http://скупка-часов.рф/" target="_blank">http://скупка-часов.рф/</a>

            p Мы надеемся, что эти сведения помогут вам принимать осознанные решения в отношении предоставляемой нам личной информации.

            h3 Общедоступная информация

            p Если вы просто просматриваете сайт без регистрации, информация о вас не публикуется на сайте.

            h3 Электронная почта, телефон и другие контакты

            p Адрес электронной почты, телефон и другие способы связи, указываемые Вами при заказе обратного звонка, не показывается другим посетителям сайта.

            p Мы можем сохранять сообщения электронной почте и другие письма, отправленные пользователями, чтобы обрабатывать вопросы пользователей, отвечать на запросы и совершенствовать наши службы.

            h3 Протоколирование

            p При каждом посещении сайта наши серверы автоматически записывают информацию, которую ваш браузер передает при посещении веб-страниц. Как правило эта информация включает запрашиваемую веб-страницу, IP-адрес компьютера, тип браузера, языковые настройки браузера, дату и время запроса, а также один или несколько файлов cookie, которые позволяют точно идентифицировать ваш браузер.

            h3 Куки (Cookie)

            p На сайте <a href="http://скупка-часов.рф/" target="_blank">http://скупка-часов.рф/</a> используются куки (Cookies), происходит сбор данных о посетителях с помощью сервисов Яндекс Метрика. Эти данные служат для сбора информации о действиях посетителей на сайте, для улучшения качества его содержания и возможностей.

            p В любое время вы можете изменить параметры в настройках вашего браузера таким образом, чтобы браузер перестал сохранять все файлы cookie, а так же оповещал их об отправке. При этом следует учесть, что в этом случае некоторые сервисы и функции могут перестать работать.

            h3 Изменение Политики конфиденциальности

            p На этой странице вы сможете узнать о любых изменениях данной политики конфиденциальности. В особых случаях, вам будет выслана информация на Ваш e-mail.

            h3 Обратная связь

            p Вы можете задать любые вопросы, написав на e-mail: <a href="mailto:lombardmanufacture@gmail.com">lombardmanufacture@gmail.com</a>
