mixin evaluate()
    .evaluate&attributes(attributes)
        .evaluate__in
            h2.evaluate__title Оценим Ваши часы онлайн бесплатно!
            .evaluate__cards
                a(href="tel:+79261519151").card.card--phone
                    span.card__text +7 (926) 151 91 51 <br><span>WhatsApp/Viber/Telegram</span>
                a(href="skype:lombardmanufacture?call").card.card--skype
                    span.card__text lombardmanufacture
                a(href="mailto:lombardmanufacture@gmail.com ").card.card--email
                    span.card__text lombardmanufacture <br><span>@gmail.com </span>



