.form
    display block
    max-width 1170px
    background-color white
    box-shadow 0 0 30px rgba(0, 0, 0, 0.3)
    padding 100px
    margin 20px auto
    max-width 520px
    padding 70px 40px 30px
    +below(479px)
        padding 70px 20px 30px


    &__title
        max-width 470px
        color black
        font(Extra,40)
        font-size 42px
        line-height 1.2
        text-transform uppercase
        margin 0 0 30px
        max-width 100%
        text-align center
        +below(479px)
            font-size 36px

    &__row
        width 100%
        display flex
        flex-flow row wrap
        justify-cintent center

    &__col
        flex 1 1 470px
        max-width 470px
        display block
        flex 0 0 100%
        max-width 100%

    &__input
    &__textarea
        margin-bottom 15px

    &__button
        width 100%

    &__privacy
        color black
        font(Light,40)
        font-size 16px
        line-height 1.2
        padding-left 40px
        margin 25px 0 0
        position relative
        &::before
            content ""
            display block
            size 20px 26px
            background-image embedurl("../../svg/lock.svg","")
            background-size contain
            background-position left center
            background-repeat no-repeat
            position absolute
            top -4px
            left 0


label.invalid-field
    display block
    width 100%
    color red
    font()
    font-size 14px
    line-height 1
    text-align center
    padding-left 0px
    margin -7px auto 10px
    &.hidden
        display none !important
    .textarea &
        margin-top 7px

