.form
    display block
    max-width 1170px
    background-color white
    box-shadow 0 0 30px rgba(0, 0, 0, 0.3)
    padding 100px
    margin 20px auto
    +below(1170px)
        padding 70px 40px 50px
        max-width 1020px
    +below(767px)
        max-width 510px
        padding 70px 40px 50px
    +below(479px)
        padding 70px 20px 50px
    &--one-col
        max-width 600px
        +below(1170px)
            max-width 600px

    &__title
        max-width 470px
        color black
        font(Extra,40)
        font-size 58px
        line-height 1.2
        text-transform uppercase
        margin 0 0 75px
        +below(767px)
            font-size 42px
            margin-bottom 30px
            max-width 100%
            text-align center
        +below(479px)
            font-size 36px

        ^[0]--one-col &
            font-size 50px
            margin-bottom 40px
            +below(767px)
                font-size 42px
                margin-bottom 30px
            +below(479px)
                font-size 36px

    &__row
        width 100%
        display flex
        flex-flow row nowrap
        justify-cintent center
        +below(767px)
            flex-wrap wrap

    &__col
        flex 1 1 470px
        max-width 470px
        display block
        &:first-child
            margin-right 32px
        +below(1170px)
            &:first-child
                margin-right 20px
        +below(767px)
            flex 0 0 100%
            max-width 100%
            &:first-child
                margin-right 0

    &__input
    &__textarea
        margin-bottom 35px
        +below(1170px)
            margin-bottom 20px
        +below(767px)
            margin-bottom 15px

    &__button
        width 100%

    &__privacy
        color black
        font(Light,40)
        font-size 18px
        line-height 1.2
        padding-left 45px
        margin 10px 0 0
        position relative
        &::before
            content ""
            display block
            size 24px 30px
            background-image embedurl("../../svg/lock.svg","")
            background-size contain
            background-position left center
            background-repeat no-repeat
            position absolute
            top -6px
            left 0
        ^[0]--one-col &
            margin-top 40px
        +below(767px)
            margin-top 25px
            font-size 16px
            padding-left 40px
            ^[0]--one-col &
                margin-top 20px
            &::before
                top -4px
                size 20px 26px

label.invalid-field
    display block
    width 100%
    color red
    font()
    font-size 16px
    line-height 1
    text-align left
    padding-left 35px
    margin -23px auto 15px
    &.hidden
        display none !important
    +below(1170px)
        margin -13px auto 15px
    +below(767px)
        padding-left 0
        text-align center
        margin -7px auto 10px
        font-size 14px
    .textarea &
        margin-top 8px
        +below(767px)
            margin-top 7px
